name: 엠버 일일 요금 자동 수집

on:
  schedule:
    - cron: '21 22 * * *'  # 매일 밤 실행
  workflow_dispatch:      # 수동 실행 버튼 활성화

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. 코드 체크아웃
        uses: actions/checkout@v3

      - name: 2. 파이썬 설치
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 3. 라이브러리 설치
        run: |
          pip install pandas gspread oauth2client selenium webdriver-manager

      - name: 4. 수집기 가동
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }} # 깃허브 Secrets에 넣은 이름을 그대로 씁니다
        run: python -u Collector.py
